.block {
  background-color: white;
  color: black;
}

.trackImage {
  position: relative;
  width: 60px;
}
.list {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.listText {
  color: white;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.listOption {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  margin: 10px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile {
  width: 80px;
  height: 80px;
  border-radius: 25px;
  background-position: center;
  margin-right: 10px;
  margin-bottom: 10px;
}
.banned {
  filter: opacity(20%);
}
::ng-deep.mat-pseudo-checkbox {
  display: none !important;
}
.divider {
  height: 1px;
  background-color: rgb(35, 35, 35);
}
.quickFilterBar {
  background-color: black;
}
.bottomBar {
  cursor: pointer;
  background-color: #f3c600;
  height: 30px;
  text-align: center;
  padding-top: 10px;
}
[hidden] {
  display: none !important;
}
